# Žodynų (Dictionary) taikymas
Į žodyno struktūrą galima žiūrėti ne tik kaip į klasikinį žodyną, kur vieniems žodžiams atitinka kiti žodžiai.<br>
Jei žodyne saugosime poras *(žodis, skaičius)*, tai galėsime skaičiuoti žodžių pasikartojimą.

In [3]:
txt1 = "Jonas Rimas Algis Rimas Jonas Rimas"
txt2 = "Simas Rimas Algis Jonas Rimas Jonas Rimas Algis Jonas"
# pora key = vardas, value = int skaitliukas
def žodžių_kiekiai(tekstas):
  vardai = {}
  for v in tekstas.split():
    if v not in vardai:
      vardai[v] = 0
    vardai[v] += 1
  print(vardai)
  for vardas, kiekis in vardai.items():
    print (vardas, kiekis)

žodžių_kiekiai(txt1)
žodžių_kiekiai(txt2)

{'Jonas': 2, 'Rimas': 3, 'Algis': 1}
Jonas 2
Rimas 3
Algis 1
{'Simas': 1, 'Rimas': 3, 'Algis': 2, 'Jonas': 3}
Simas 1
Rimas 3
Algis 2
Jonas 3

Tai yra dažnai pasitaikantis fragmentas, todėl yra sukurta speciali struktūra **defaultdict**,<br>
kuriai naudojant **lambda** yra nurodoma funkcija - ką daryti, kai rakto nėra.

In [4]:
from collections import defaultdict
def žodžių_kiekiai2(tekstas):
    vardai = defaultdict(lambda: 0) # vietoj 5,6 eiluciu
    for v in tekstas.split():
        # if v not in vardai:
        #     vardai[v] = 0
        vardai[v] += 1
    print(vardai.items())
žodžių_kiekiai2(txt1)
žodžių_kiekiai2(txt2)

dict_items([('Jonas', 2), ('Rimas', 3), ('Algis', 1)])
dict_items([('Simas', 1), ('Rimas', 3), ('Algis', 2), ('Jonas', 3)])

# Žodynas su sąrašais
Dažnai reikia skaičiuoti ne tik elementarų pasikartojimą, bet sumuoti įvairias charakteristikas, ieškoti didžiausių ar mažiausių reikšmių. Tada žodyno poroje raktui atitinka sąrašas su reikiamomis charakteristikomis.

In [5]:
varžybos1 = """# BAUDŲ METIMŲ VARŽYBOS
# Žaidėjas gali mesti kelis kartus
# dalyvio rezultatus kaupsime sąraše
Romas  4 
Ignas  5
Justė  8  geras rezultatas - daugiau nemeta   
Darius 10
Ignas  4  antras Igno bandymas
Romas  7  antras Romo bandymas
Ignas  3  trečias Igno bandymas
""".splitlines()

Pradžioje pateiksime sprendimą be žodyno duomenų struktūros, tiesiog formuodami paprastą sąrašą.

In [6]:
# formuosime (vardas, taškai) -> (ident, t_sąrašas)
def taškų_varžybos(duomenys):
  dalyviai = [] # poros (ident, t_sąrašas)   
  for eil in duomenys:
    if eil[0]=='#': continue
    vardas, taškai = eil.split()[:2] #nuo pradzios imami du elementai, kiti nesvarbu
    # ieškome ar vardas jau buvo
    for ident, t_sąrašas in dalyviai:
      if ident == vardas: break
    else: #else priklauso for, o ne IF
      t_sąrašas = []
      dalyviai.append((vardas, t_sąrašas))
    t_sąrašas.append(int(taškai))
  return dalyviai

dalyviai1 = taškų_varžybos(varžybos1)
print(dalyviai1)

[('Romas', [4, 7]), ('Ignas', [5, 4, 3]), ('Justė', [8]), ('Darius', [10])]

Sprendimas su žodyno duomenų struktūra

In [8]:
def taškų_varžybos2(duomenys):
  dalyviai = defaultdict(lambda: []) 
  for eil in duomenys:
    if eil[0]=='#': continue
    vardas, taškai = eil.split()[:2]
    dalyviai[vardas].append(int(taškai))
  return list(dalyviai.items())
dalyviai2 = taškų_varžybos2(varžybos1)
print(dalyviai2)

[('Romas', [4, 7]), ('Ignas', [5, 4, 3]), ('Justė', [8]), ('Darius', [10])]

Sudarome tvarkingo spausdinimo funciją ir spausdiname įvairius rezultatus

In [9]:
def spausdinti(rez):
    print("| vardas   | sum | max |")
    print("------------------------")
    for vardas, suma, max_t in rez:
        print(f"| {vardas:8} | {suma:3} | {max_t:3} |")
    print("------------------------")
        
rezultatai = [(v, sum(tšk), max(tšk)) for v, tšk in dalyviai2]
print("------------------------")
spausdinti(sorted(rezultatai))
spausdinti(sorted(rezultatai, key = lambda e: -e[1]))
spausdinti(sorted(rezultatai, key = lambda e: -e[2]))

------------------------
| vardas   | sum | max |
------------------------
| Darius   |  10 |  10 |
| Ignas    |  12 |   5 |
| Justė    |   8 |   8 |
| Romas    |  11 |   7 |
------------------------
| vardas   | sum | max |
------------------------
| Ignas    |  12 |   5 |
| Romas    |  11 |   7 |
| Darius   |  10 |  10 |
| Justė    |   8 |   8 |
------------------------
| vardas   | sum | max |
------------------------
| Darius   |  10 |  10 |
| Justė    |   8 |   8 |
| Romas    |  11 |   7 |
| Ignas    |  12 |   5 |
------------------------

Visą sprendimą apibendriname su funkcija skaičiuoti(duomenys)

In [12]:
def skaičiuoti(duomenys):    # funkcijos vardas gali buti ir main
  dalyviai = taškų_varžybos2(duomenys)
  rezultatai = [(v, sum(t), max(t)) for v, t in dalyviai]
  print("------------------------")
  spausdinti(sorted(rezultatai))
  spausdinti(sorted(rezultatai, key = lambda e: -e[1]))
  spausdinti(sorted(rezultatai, key = lambda e: -e[2]))
skaičiuoti(varžybos1)

------------------------
| vardas   | sum | max |
------------------------
| Darius   |  10 |  10 |
| Ignas    |  12 |   5 |
| Justė    |   8 |   8 |
| Romas    |  11 |   7 |
------------------------
| vardas   | sum | max |
------------------------
| Ignas    |  12 |   5 |
| Romas    |  11 |   7 |
| Darius   |  10 |  10 |
| Justė    |   8 |   8 |
------------------------
| vardas   | sum | max |
------------------------
| Darius   |  10 |  10 |
| Justė    |   8 |   8 |
| Romas    |  11 |   7 |
| Ignas    |  12 |   5 |
------------------------

In [14]:
with open('sample_data/duomenys.txt', ) as d:
  skaičiuoti(d)

------------------------
| vardas   | sum | max |
------------------------
| Darius   |  10 |  10 |
| Edvinas  |   8 |   8 |
| Ignas    |  12 |   5 |
| Justas   |  10 |  10 |
| Justė    |   8 |   8 |
| Romas    |  11 |   7 |
------------------------
| vardas   | sum | max |
------------------------
| Ignas    |  12 |   5 |
| Romas    |  11 |   7 |
| Darius   |  10 |  10 |
| Justas   |  10 |  10 |
| Justė    |   8 |   8 |
| Edvinas  |   8 |   8 |
------------------------
| vardas   | sum | max |
------------------------
| Darius   |  10 |  10 |
| Justas   |  10 |  10 |
| Justė    |   8 |   8 |
| Edvinas  |   8 |   8 |
| Romas    |  11 |   7 |
| Ignas    |  12 |   5 |
------------------------

# Užduotys savarankiškam darbui
Paruoškite užduotys su Jums įdomia ir tinkančia duomenų tematika, kuriose reikėtų grupuoti duomenis ir skaičiuoti tų grupių įvairias charakteristikas. Būtų labai gerai, jei tas užduotis išspręstumėte, naudodamiesi aukščiau pateiktu pavyzdžiu.