[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/blaztoma/pitono-pamokos/blob/main/pamokos/13%20-%20Sarasai/13-10%20-%20S%C4%85ra%C5%A1ai%20lists%2010.ipynb)

# Sąrašai (`lists`) (10 dalis)

## Pavyzdžiai

In [ ]:
matrica = [
    [8, 7, 5, 3],
    [4, 7, 5, 2],
    [4, 7, 8, 3],
    [5, 2, 3, 1]
]

print('Visa matrica:', matrica)
print('Antra eilė:', matrica[1])
print('Antros eilės trečias:', matrica[1][2])

Visa matrica: [[8, 7, 5, 3], [4, 7, 5, 2], [4, 7, 8, 3], [5, 2, 3, 1]]
Antra eilė: [4, 7, 5, 2]
Antros eilės trečias: 5

In [ ]:
studentu_pazymiai = [
    ['Jonas', 7, 8, 5, 6, 3],
    ['Petras', 8, 9, 8, 8, 9, 10],
    ['Ona', 7, 8],
    ['Birutė', 9, 9, 10, 10, 7, 8],
    ['Ugnius', 7, 7, 8, 9, 7]
]

for studentas in studentu_pazymiai:
    print(studentas)

['Jonas', 7, 8, 5, 6, 3]
['Petras', 8, 9, 8, 8, 9, 10]
['Ona', 7, 8]
['Birutė', 9, 9, 10, 10, 7, 8]
['Ugnius', 7, 7, 8, 9, 7]

In [ ]:
studentu_pazymiai = [
    ['Jonas', 7, 8, 5, 6, 3],
    ['Petras', 8, 9, 8, 8, 9, 10],
    ['Ona', 7, 8],
    ['Birutė', 9, 9, 10, 10, 7, 8],
    ['Ugnius', 7, 7, 8, 9, 7]
]

for studentas in studentu_pazymiai:
    for el in studentas:
        print(el, end=' ')
    print()

Jonas 7 8 5 6 3
Petras 8 9 8 8 9 10
Ona 7 8
Birutė 9 9 10 10 7 8
Ugnius 7 7 8 9 7

In [ ]:
studentu_pazymiai = [
    ['Jonas', 7, 8, 5, 6, 3],
    ['Petras', 8, 9, 8, 8, 9, 10],
    ['Ona', 7, 8],
    ['Birutė', 9, 9, 10, 10, 7, 8],
    ['Ugnius', 7, 7, 8, 9, 7]
]

for studentas in studentu_pazymiai:
    print('studento', studentas[0], 'pažymiai: ', end='')
    for i in range(1, len(studentas)):
        print(studentas[i], end=' ')
    print()

studento Jonas pažymiai: 7 8 5 6 3
studento Petras pažymiai: 8 9 8 8 9 10
studento Ona pažymiai: 7 8
studento Birutė pažymiai: 9 9 10 10 7 8
studento Ugnius pažymiai: 7 7 8 9 7

In [ ]:
studentu_pazymiai = [
    ['Jonas', [7, 8, 5, 6, 3]],
    ['Petras', [8, 9, 8, 8, 9, 10]],
    ['Ona', [7, 8]],
    ['Birutė', [9, 9, 10, 10, 7, 8]],
    ['Ugnius', [7, 7, 8, 9, 7]]
]

for studentas in studentu_pazymiai:
    print('Studentas:', studentas[0])
    print('Jos/jo pažymiai:', studentas[1])
    print('Jos/jo pažymiai:', ', '.join( map(str, studentas[1]) ))
    print()

Studentas: Jonas
Jos/jo pažymiai: [7, 8, 5, 6, 3]
Jos/jo pažymiai: 7, 8, 5, 6, 3

Studentas: Petras
Jos/jo pažymiai: [8, 9, 8, 8, 9, 10]
Jos/jo pažymiai: 8, 9, 8, 8, 9, 10

Studentas: Ona
Jos/jo pažymiai: [7, 8]
Jos/jo pažymiai: 7, 8

Studentas: Birutė
Jos/jo pažymiai: [9, 9, 10, 10, 7, 8]
Jos/jo pažymiai: 9, 9, 10, 10, 7, 8

Studentas: Ugnius
Jos/jo pažymiai: [7, 7, 8, 9, 7]
Jos/jo pažymiai: 7, 7, 8, 9, 7

In [ ]:
studentu_pazymiai = [
    ['Jonas', [7, 8, 5, 6, 3]],
    ['Petras', [8, 9, 8, 8, 9, 10]],
    ['Ona', [7, 8]],
    ['Birutė', [9, 9, 10, 10, 7, 8]],
    ['Ugnius', [7, 7, 8, 9, 7]]
]

print('Visi visų studentų pažymiai:')

for studentas in studentu_pazymiai:
    for pazymys in studentas[1]:
        print(pazymys, end=' ')
    print()

Visi visų studentų pažymiai:
7 8 5 6 3
8 9 8 8 9 10
7 8
9 9 10 10 7 8
7 7 8 9 7

In [ ]:
matrica = [
    [8, 7, 5, 3],
    [4, 7, 5, 2],
    [4, 7, 8, 3],
    [5, 2, 3, 1]
]

sumos = [ sum(eile) for eile in matrica ]
print('Kiekvienos eilės suma:', sumos)

bendra_suma = sum(sumos)
print('Bendra visos matricos suma:', bendra_suma)

Kiekvienos eilės suma: [23, 18, 22, 11]
Bendra visos matricos suma: 74

## Užduotys

### Užduotis 1

Susikurkite bet kokį sąrašą sąraše. Jį išveskite bent dviem skirtingais būdais.

In [ ]:
# Kodą rašykite čia...

### Užduotis 2

Susikurkite sąrašą sąraše, kur visi ar dalis narių būtų skaičiai. Išveskite visus lyginius skaičius.

In [ ]:
# Kodą rašykite čia...

### Užduotis 3

Susikurkite matricą iš skaičių. Raskite visų skaičių vidurkį.

In [ ]:
# Kodą rašykite čia...

### Užduotis 4

Susikurkite bet kokį norimą sąrašą sąraše (kur būtų ir teksto ir skaičių). Jį išveskite. Raskite ką nors iš skaičių, pvz.: kiekvienos eilės sumą, didžiausią skaičių ar pan.

In [ ]:
# Kodą rašykite čia...

### Užduotis 5

Susikurkite kažką panašaus į pavyzdžiuose matytą `studentu_pazymiai` sąraše sąraše. Į naują sąrašą išsikelkite studentų vardus ar kitą tekstinę informaciją. Į kitą naują sąrašą išsikelkite visus skaičius.

In [ ]:
# Kodą rašykite čia...