[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/blaztoma/pitono-pamokos/blob/main/pamokos/13%20-%20Sarasai/13-06%20-%20S%C4%85ra%C5%A1ai%20lists%206.ipynb)

# Sąrašai (`lists`) (6 dalis)

## Sąrašo išpakavimas (`list unpacking`)

## Pavyzdžiai

Tarkime, turime tokį sąrašą:

In [ ]:
zmogaus_informacija = ['Jonas', 'Jonaitis', 23, 'KTU', 7]
print(zmogaus_informacija)

Jį galime **išpakuoti** į atskirus kintamuosius.

In [ ]:
vardas, pavarde, amzius, mokykla, vidurkis = ['Jonas', 'Jonaitis', 23, 'KTU', 7]

print(vardas)
print(pavarde)
print(amzius)
print(mokykla)
print(vidurkis)

Štai tokiu būdu išpakuojame studento vardą, pavardę ir jo pažymių sąrašą. Atkreipkite dėmesį, kad sąrašui pažymėti naudojama žvaigždutė (`*`).

In [ ]:
vardas, pavarde, *pazymiai = ['Petras', 'Petrauskas', 7, 8, 9, 6, 5]

print(vardas)
print(pavarde)
print(pazymiai)

Pitonas atpažins ir tokį aprašymą.

In [ ]:
vardas, pavarde, *pazymiai, mokykla = ['Ona', 'Onutė', 7, 8, 9, 7, 5, 9, 'KTU']

print(vardas)
print(pavarde)
print(pazymiai)
print(mokykla)

Eilutę irgi galime išpakuoti į atskirus kintamuosius. Tam pasiverčiam į sąrašą.

In [ ]:
sakinys = 'Jonas;Jonauskas;KTU;7;8;9'
informacija = sakinys.split(';')
print(informacija)

Pasivertus į sąrašą jau galime išpakuoti jo reikšmes.

In [ ]:
sakinys = 'Jonas;Jonauskas;KTU;7;8;9'
vardas, pavarde, mokykla, *pazymiai = sakinys.split(';')

print(vardas)
print(pavarde)
print(mokykla)
print(pazymiai)

Tiesa, pažymiai liko kaip eilutės. Todėl mes turime juos pasiversti į int tipo sąrašą.

In [ ]:
sakinys = 'Jonas;Jonauskas;23;KTU;7;8;9'
vardas, pavarde, metai, mokykla, *pazymiai = sakinys.split(';')
metai = int(metai)
pazymiai = list( map(int, pazymiai) )

print(vardas)
print(pavarde)
print(metai)
print(mokykla)
print(pazymiai)

## Užduotys

### Užduotis 1

Jums duotas sąrašas, kurį turite "išpakuoti". Duoto sąrašo laukai yra tokie: gamintojas; modelis; rida; metai; darbinis tūris. Atspausdinkite šio sąrašo informaciją.

In [ ]:
# .... = ['Audi', 'A4', 12454, 2010, 1.6]

# Kodą rašykite čia...

### Užduotis 2

Jums yra duoti du sąrašai, kuriuos turite "išpakuoti". Duoto sąrašo laukai yra tokie: savaitė; temperatūrų vidurkiai. Atspausdinkite šių sąrašų informaciją.

*Papildomai:*

Pamėginkite rasti abiejų savaičių vidurkius. Suraskite kurios savaitės vidurkis didesnis ir per kiek išveskite.

In [ ]:
# ... = ['24 savaitė', 14.7, 15.8, 14.4, 16.2]
# ... = ['25 savaitė', 15.2, 14.1, 16.5, 17.4]

# Kodą rašykite čia...

### Užduotis 3

Jums yra duotas sąrašas, kurį turite "išpakuoti". Duoto sąrašo laukai yra tokie: prekės pavadinimas; kaina; savikaina; kiekis sandėlyje. Atspausdinkite sąrašo informaciją. Raskite kiek būtų galima uždirbti pardavus visas prekes (nepamirškite atimti savikainos).

In [ ]:
# ... = ['Pieštukas', 2, 1, 74]

# Kodą rašykite čia...