[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/blaztoma/pitono-pamokos/blob/main/pamokos/13%20-%20Sarasai/13-07%20-%20S%C4%85ra%C5%A1ai%20lists%207.ipynb)

# Sąrašai (`lists`) (7 dalis)

## Pavyzdžiai

Rankiniu būdu išvedama visa informacija:

In [ ]:
automobiliai = ['audi', 'bmw', 'volvo', 'mercedes']

print(automobiliai[0])
print(automobiliai[1])
print(automobiliai[2])
print(automobiliai[3])

audi
bmw
volvo
mercedes

Su ciklo pagalba išvedama visa informacija:

In [ ]:
automobiliai = ['audi', 'bmw', 'volvo', 'mercedes']

for auto in automobiliai:
    print(auto)

audi
bmw
volvo
mercedes

In [ ]:
miestai = ['Kaunas', 'Vilnius', 'Klaipėda', 'Šiauliai']

for miestas in miestai:
    print(miestas)

Kaunas
Vilnius
Klaipėda
Šiauliai

Jeigu reikia indeksų:

In [ ]:
miestai = ['Kaunas', 'Vilnius', 'Klaipėda', 'Šiauliai']

for indeksas, miestas in enumerate(miestai, start=0): # default yra 0
    print(indeksas, miestas)

0 Kaunas
1 Vilnius
2 Klaipėda
3 Šiauliai

In [ ]:
miestai = ['Kaunas', 'Vilnius', 'Klaipėda', 'Šiauliai']

for indeksas, miestas in enumerate(miestai, start=1): # default yra 0
    print(indeksas, miestas)

1 Kaunas
2 Vilnius
3 Klaipėda
4 Šiauliai

In [ ]:
miestai = ['Kaunas', 'Vilnius', 'Klaipėda', 'Šiauliai']

for indeksas in range(len(miestai)):
    print(indeksas, miestai[indeksas])

0 Kaunas
1 Vilnius
2 Klaipėda
3 Šiauliai

In [ ]:
miestai = ['Kaunas', 'Vilnius', 'Klaipėda', 'Šiauliai']

for indeksas in range(len(miestai)):
    print(indeksas + 1, miestai[indeksas])

1 Kaunas
2 Vilnius
3 Klaipėda
4 Šiauliai

In [ ]:
miestai = ['Kaunas', 'Vilnius', 'Klaipėda', 'Šiauliai']

for indeksas in range(len(miestai)):
    print(f'{indeksas + 1}-as miestas yra {miestai[indeksas]}')

1-as miestas yra Kaunas
2-as miestas yra Vilnius
3-as miestas yra Klaipėda
4-as miestas yra Šiauliai

In [ ]:
miestai = ['Kaunas', 'Vilnius', 'Klaipėda', 'Šiauliai']

indeksas = 0

while indeksas < len(miestai):
    print(f'{indeksas + 1}-asis miestas: {miestai[indeksas]}')
    indeksas += 1

1-asis miestas: Kaunas
2-asis miestas: Vilnius
3-asis miestas: Klaipėda
4-asis miestas: Šiauliai

In [ ]:
zmones = ['Petras', 'Jonas', 'Ona', 'Birutė']

i = 0

while i < len(zmones):
    print(f'{i}: {zmones[i]}')
    i += 1

0: Petras
1: Jonas
2: Ona
3: Birutė

## Užduotys

### Užduotis 1

Susikurkite sąrašą projekto komandos narių vardams ir pavardėms saugoti. Išveskite tekstą "prie projekto dirba šie komandos nariai:" ir iškart po to kiekvieną komandos narį atskiroje eilutėje.

In [ ]:
# Kodą rašykite čia...

### Užduotis 2

Susikurkite sąrašą, kuriame būtų saugomos jau praeitos Python temos. Išveskite tekstą "mes jau mokėmės:". Ir iškart po to atskirose eilutėse visas temas, tačiau jas sunumeruokite "1-a tema:", "2-a tema:" ir t.t. Tai pamėginkite atlikti tiek su `for` ciklu, tiek su `while` ciklu.

In [ ]:
# Kodą rašykite čia...

### Užduotis 3

Susikurkite sąrašą studijų programų pavadinimams saugoti. Užpildykite šį sąrašą duomenimis. Išveskite kiekvieną studijų programą atskiroje eilutėje.

In [ ]:
# Kodą rašykite čia...

### Užduotis 4

Susikurkite sąrašą šalių pavadinimams saugoti ir jį užpildykite duomenimis. Išveskite šalių pavadinimus atskirose eilutėse, su prierašu "šalis" ir tada nurodant šalį iš sąrašo.

In [ ]:
# Kodą rašykite čia...

### Užduotis 5

Susikurkite sąrašą prekių krepšeliui saugoti. Išveskite kiek prekių krepšelyje yra narių. Tuomet išveskite visą prekių krepšelio informaciją, nurodant kelinta prekė, pvz "nr 1 pirkinys:", "nr 2 pirkinys:" ir t.t.

In [ ]:
# Kodą rašykite čia...

### Užduotis 6

Susikurkite pažymių sąrašą ir užpildykite jį informacija. Surikiuokite pažymius nuo didžiausio iki mažiausio. Išveskite visus turimus pažymius atskirose eilutėse. Prie kiekvieno pažymio taip pat prirašykite "puikiai", jeigu jis yra 10, "labai gerai", jeigu jis yra 9 ir t.t.

In [ ]:
# Kodą rašykite čia...