[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/blaztoma/pitono-pamokos/blob/main/pamokos/13%20-%20Sarasai/13-09%20-%20S%C4%85ra%C5%A1ai%20lists%209.ipynb)

# Sąrašai (`lists`) (9 dalis)

## Sąrašo perdarymas (`list comprehension`)

## Pavyzdžiai

In [ ]:
pradiniai = [1, 2, 3, 4, 5, 6]
nauji = []

for el in pradiniai:
    nauji.append(el)

print(pradiniai)
print(nauji)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]

In [ ]:
pradiniai = [1, 2, 3, 4, 5, 6]

nauji = [ el for el in pradiniai ]

print(pradiniai)
print(nauji)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]

In [ ]:
pradiniai = [1, 2, 3, 4, 5, 6]
pakeisti = []

for el in pradiniai:
    pakeisti.append( el * 2 )

print(pradiniai)
print(pakeisti)

[1, 2, 3, 4, 5, 6]
[2, 4, 6, 8, 10, 12]

In [ ]:
pradiniai = [1, 2, 3, 4, 5, 6]

pakeisti = [ el * 2 for el in pradiniai ]

print(pradiniai)
print(pakeisti)

[1, 2, 3, 4, 5, 6]
[2, 4, 6, 8, 10, 12]

In [ ]:
raides = ['a', 'b', 'c']
pakeisti = [ raide * 5 for raide in raides ]
print(raides)
print(pakeisti)

['a', 'b', 'c']
['aaaaa', 'bbbbb', 'ccccc']

In [ ]:
skaiciai = [5, 6, 7, 8, 2, 9]
print(skaiciai)
kvadratai = [ sk * sk for sk in skaiciai ]
print(kvadratai)

[5, 6, 7, 8, 2, 9]
[25, 36, 49, 64, 4, 81]

In [ ]:
zodziai = ['paukštis', 'obelis', 'knyga', 'parduotuvė']
print('žodžiai:', zodziai)
raidziu_kiekiai = [ len(zodis) for zodis in zodziai ]
print('raidžių kiekiai:', raidziu_kiekiai)
print('viso raidžių:', sum(raidziu_kiekiai))

žodžiai: ['paukštis', 'obelis', 'knyga', 'parduotuvė']
raidžių kiekiai: [8, 6, 5, 10]
viso raidžių: 29

In [ ]:
pradiniai = [2, 1, 7, -2, -6, 7, -2, -5, 5, 6]
print('pradiniai:', pradiniai)

teigiami = []

for sk in pradiniai:
    if sk > 0:
        teigiami.append(sk)

print('atrinkti teigiami:', teigiami)

pradiniai: [2, 1, 7, -2, -6, 7, -2, -5, 5, 6]
atrinkti teigiami: [2, 1, 7, 7, 5, 6]

In [ ]:
pradiniai = [2, 1, 7, -2, -6, 7, -2, -5, 5, 6]
print('pradiniai:', pradiniai)

teigiami = [ sk for sk in pradiniai if sk > 0 ]
print('atrinkti teigiami:', teigiami)

neigiami = [ sk for sk in pradiniai if sk < 0 ]
print('atrinkti neigiami:', neigiami)

pradiniai: [2, 1, 7, -2, -6, 7, -2, -5, 5, 6]
atrinkti teigiami: [2, 1, 7, 7, 5, 6]
atrinkti neigiami: [-2, -6, -2, -5]

In [ ]:
pradiniai = ['Jonas', 'Ugnė', 'Petras', 'Ona', 'Gintarė', 'Povilas']
print(pradiniai)
atrinkti = [ vardas for vardas in pradiniai if len(vardas) > 5 ]
print(atrinkti)

['Jonas', 'Ugnė', 'Petras', 'Ona', 'Gintarė', 'Povilas']
['Petras', 'Gintarė', 'Povilas']

In [ ]:
skaiciai = [3, 4, 8, 9, 2]
pakeisti = [ 'lyginis' if sk % 2 == 0 else 'nelyginis' for sk in skaiciai ]
print(skaiciai)
print(pakeisti)

[3, 4, 8, 9, 2]
['nelyginis', 'lyginis', 'lyginis', 'nelyginis', 'lyginis']

In [ ]:
vardai = ['Jonas', 'Petras', 'Ugnė', 'Paulina']
print(vardai)

nauji = [ vardas[0].upper() for vardas in vardai ]
print(nauji)

nauji = [ vardas[0].upper() + vardas[1:] for vardas in vardai ]
print(nauji)

['Jonas', 'Petras', 'Ugnė', 'Paulina']
['J', 'P', 'U', 'P']
['Jonas', 'Petras', 'Ugnė', 'Paulina']

In [ ]:
vardai = ['Jonas', 'Petras', 'Ugnė', 'Paulina']
print(vardai)
nauji = [ vardas if vardas.startswith('P') else '---' for vardas in vardai ]
print(nauji)

['Jonas', 'Petras', 'Ugnė', 'Paulina']
['---', 'Petras', '---', 'Paulina']

In [ ]:
vardai = ['Jonas', 'Petras', None, 'Paulina', None]
print(vardai)

nauji = [ vardas if vardas != None else '' for vardas in vardai ]
print(nauji)

nauji = [ vardas if vardas is not None else '' for vardas in vardai ]
print(nauji)

['Jonas', 'Petras', None, 'Paulina', None]
['Jonas', 'Petras', '', 'Paulina', '']
['Jonas', 'Petras', '', 'Paulina', '']

In [ ]:
vardai = ['Jonas', 'Petras', None, 'Paulina', None]
print(vardai)
nauji = [ vardas for vardas in vardai if vardas is not None ]
print(nauji)

['Jonas', 'Petras', None, 'Paulina', None]
['Jonas', 'Petras', 'Paulina']

## Užduotys

### Užduotis 1

Susikurkite studentų pažymių sąrašą ir surašykite pažymių į šį sąrašą. Paverskite visus šio sąrašo pažymius taip, kad ties kiekvienu parodytų kiek trūksta iki 10, pvz, jeigu pažymys yra 8, tai jam iki 10 trūksta 2, arba jeigu pažymys yra 7, tai jam iki 10 trūksta 3, arba jeigu yra 10, tai jam trūksta 0.

In [ ]:
# Kodą rašykite čia...

### Užduotis 2

Susikurkite žodžių sąrašą ir užpildykite jį duomenimis. Paverskite visus šio sąrašo žodžius, kad jie visi būtų iš didžiųjų raidžių.

In [ ]:
# Kodą rašykite čia...

### Užduotis 3

Susikurkite žmonių vardų sąrašą ir užpildykite jį duomenimis. Į naują sąrašą paimkite kiekvieno vardo pirmąją raidę. Jeigu bus kažkuris vardas ne iš didžiosios raidės, tai jį paverskite iš didžiosios raidės. Surikiuokite pagal abėcėlę.

In [ ]:
# Kodą rašykite čia...

### Užduotis 4

Susikurkite skaičių sąrašą ir jį užpildykite duomenimis. Susikurkite naują sąrašą, kuriame būtų pradinių skaičių kvadratai. Susikurkite naują sąrašą, kuriame būtų pradinių skaičių kūbai (trečias laipsnis).

In [ ]:
# Kodą rašykite čia...

### Užduotis 5

Susikurkite miestų pavadinimų sąrašą, jį užpildykite duomenimis. Šiame sąraše nesilaikykite taisyklingo vardinimo, t.y. miestai gali būti tiek iš didžių raidžių tiek iš mažųjų, gali būti miesto viduryje didžiųjų raidžių ir pan. Sukurkite naują sąrašą šio pagrindu, kur viskas būtų sutvarkyta, t.y. pirma raidė padaryta didžioji, o visos kitos - mažosios.

In [ ]:
# Kodą rašykite čia...

### Užduotis 6

Susikurkite skaičių sąrašą su duomenimis. Į naują sąrašą atrinkite tik tuos skaičius, kurie didesni nei kažkoks pasirinktas skaičius (pvz: 5).

In [ ]:
# Kodą rašykite čia...

### Užduotis 7

Susikurkite skaičių sąrašą su duomenimis. Į naują sąrašą atrinkite tik tuos skaičius, kurie yra didesni arba lygūs vidurkiui (prieš tai teks susirasti vidurkį). Taip pat, į naują sąrašą atrinkite tik tuos skaičius, kurie yra mažesni nei vidurkis.

In [ ]:
# Kodą rašykite čia...

### Užduotis 8

Susikurkite skaičių sąrašą su duomenimis. Į naują sąrašą atrinkite tik tuos skaičius, kurie yra lyginiai ir kurie yra didesni nei vidurkis.

In [ ]:
# Kodą rašykite čia...

### Užduotis 9

Susikurkite pažymių sąrašą su duomenimis. Į naują sąrašą atrinkite visus neigiamus pažymius (4 ir mažiau). Raskite kiek buvo neigiamų pažymių.

In [ ]:
# Kodą rašykite čia...

### Užduotis 10

Susikurkite pažymių sąrašą su duomenimis. Į naują sąrašą sudėkite visus teigiamus pažymius, o vietoje neigiamų (4 ir mažiau) turėtų rašytis žodis "Neigiamas". Pvz.: jeigu turite sąrašą `[7, 4, 8, 3, 9]`, tai naujas sąrašas turėtų būti toks: `[7, 'Neigiamas', 8, 'Neigiamas', 9]`.

In [ ]:
# Kodą rašykite čia...

### Užduotis 11

Susikurkite skaičių sąrašą su duomenimis. Kai kurie elementai sąraše turėtų būti `None` reikšmės. Pvz.: `[7, 8, 5, None, 3, 6, None, 4]`. Sukurkite naują sąrašą, kur skaičiai persikeltų, o vietoj `None` reikšmės įsidėtų skaičius 0 (atkreipkite dėmesį, kad turi būti įrašytas kaip `int`, o ne `str`). Raskite visų skaičių sumą.

In [ ]:
# Kodą rašykite čia...