[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/blaztoma/pitono-pamokos/blob/main/pamokos/11%20-%20range/range.ipynb)

# `range()` funkcija

Naudosime `range()` funkciją norėdami sugeneruoti tam tikrą skaičių seką.

Dažnai `range()` funkcija naudojama su `for` ciklu.

## Sintaksė

### 1-as variantas

```
range(pabaiga)
```

- nuo 0 (patenka)
- iki `pabaiga` (nepatenka)

### 2-as variantas

```
range(pradžia, pabaiga)
```

- nuo `pradžia` (patenka)
- iki `pabaiga` (nepatenka)

### 3-as variantas

```
range(pradžia, pabaiga, žingsnis)
```

- nuo `pradžia` (patenka)
- iki `pabaiga` (nepatenka)
- darant nurodytą žingsnį `žingsnis` (naudojant teigiamą reikšmę - kis didėjimo tvarka, naudojant neigiamą reikšmę - kis mažėjimo tvarka)

### Keletas sintaksės pavyzdžių

In [ ]:
range(7) # nuo 0 iki 7 (skaičiai 0, 1, 2, 3, 4, 5, 6)
range(2, 8) # nuo 2 iki 8 (skaičiai 2, 3, 4, 5, 6, 7)
range(1, 6, 2) # nelyginiai skaičiai nuo 1 iki 6 (1, 3, 5)
range(7, 0, -1) # nuo 7 iki 1 (skaičiai 7, 6, 5, 4, 3, 2, 1)

## Pavyzdžiai

`range()` funkcija unikali tuo, kad ji sukuria `range` objektą. Šis objektas nėra skaičių sąrašas.

In [ ]:
print( range(7) )

Norėdami iš `range` objekto gauti skaičių sąrašą, turime panaudoti funkciją `list()`.

In [ ]:
skaiciai = list( range(6) )
print(skaiciai)

Turbūt jau pastebėjote, kad `range()` neįtraukia paskutinio nurodyto skaičiaus. Kodėl gi taip yra?

In [ ]:
print( list( range(10) ) )

Naudojant `range` galime nurodyti pradžią.

In [ ]:
skaiciai = list( range(2, 7) )
print(skaiciai)

Dar vienas pavyzdys.

In [ ]:
skaiciukai = list( range(10, 15) )
print(skaiciukai)

Šis pavyzdys įtraukia `žingsnį`, kurio reikšmė - 2. Šiuo atveju spausdinsime nelyginius skaičius.

In [ ]:
kas_antra = list( range(5, 15, 2) )
print(kas_antra)

Dar vienas pavyzdys su `žingsniu`, kurio reikšmė - 5. Atkreipkite dėmesį, kad paskutinės reikšmės (`50`) neįtraukia.

In [ ]:
skaiciai = list( range(5, 50, 5) )
print(skaiciai)

Dabar, kai žinome `range()` funkcijos naudojimo niunsus, pasipraktikuokime. Sąrašo [1, 50] sukūrimas.

In [ ]:
skaiciai = list( range(1, 51) )
print(skaiciai)

Na o čia - nelyginių skaičių sąrašo [1, 29] sukūrimas.

In [ ]:
nelyginiai = list( range(1, 30, 2) )
print(nelyginiai)

Šitame pavyzdyje paimsime kas šešą skaičių.

In [ ]:
skaiciai = list( range(5, 87, 6) )
print(skaiciai)

Ko dar nebandėme, tai sudaryti skaičių sąrašą mažėjimo tvarka. Tam reikia nurodyti neigiamą `žingsnio` reikšmę. Atkreipkite dėmesį, kad paskutinė reikšmė neįtraukiama ir šiuo atveju.

In [ ]:
skaiciai = list( range(10, 0, -1) )
print(skaiciai)

Dar vienas pavyzdys, kai `žingsnis` mažėja penkiais vienetais.

In [ ]:
skaiciai = list( range(50, 0, -5) )
print(skaiciai)

## Užduotys

Sugeneruokite ir išveskite tokias sekas.

### Užduotis 1

`[0, 1, 2, 3, 4, 5, 6]`

In [ ]:
# Kodą rašykite čia...

### Užduotis 2

`[1, 2, 3, 4, 5, 6, 7, 8, 9]`

In [ ]:
# Kodą rašykite čia...

### Užduotis 3

`[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]`

In [ ]:
# Kodą rašykite čia...

### Užduotis 4

`[20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]`

In [ ]:
# Kodą rašykite čia...

### Užduotis 5

`[20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40]`

In [ ]:
# Kodą rašykite čia...

### Užduotis 6

`[1, 3, 5, 7, 9]`

In [ ]:
# Kodą rašykite čia...

### Užduotis 7

`[30, 33, 36, 39, 42, 45, 48]`

In [ ]:
# Kodą rašykite čia...

### Užduotis 8

`[50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]`

In [ ]:
# Kodą rašykite čia...

### Užduotis 9

`[1, 8, 15, 22, 29, 36, 43, 50, 57, 64, 71, 78, 85, 92, 99]`

In [ ]:
# Kodą rašykite čia...

### Užduotis 10

`[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]`

In [ ]:
# Kodą rašykite čia...

### Užduotis 11

`[100, 90, 80, 70, 60, 50, 40, 30, 20, 10]`

In [ ]:
# Kodą rašykite čia...